body 
{
    background-image:url('../imagens/background.png');
    background-repeat:repeat-x;
    background-color: rgb(231, 236, 237);
    font-family: 'Trebuchet MS', arial, helvetica, sans-serif;
	font-size: 12px;
}

html, body, #holder 
{ 
	min-height: 100%; 
	height: 477px;
	font-weight: 700;
}

p
{
    font-family:Segoe UI;
    font-size:x-large;
    color:Gray;
    }
.small
{
    font-family:Segoe UI;
    font-size:medium;
    font-weight:normal;
    color:Gray;
    margin-left:8px;
}
#boxLogin
{
    position:absolute;
    top:50%;
    left:50%;
    width:522px;
    height:252px;
    margin-left:-224px;
    margin-top:-114px;
}

#camposLogin
{
    position:relative;
    margin-left:10px;
    margin-top:10px;
    width:292px;
    height:239px;
    top: -263px;
    left: 51px;
}    

.background 
{
    margin: 0;
    padding:0;
    width:100%;
    height:100%
}

#imgMenu
{
}

.label, .combo
{
    font-family: Segoe UI;
    font-size: small;
    color: gray;
    font-weight: normal;
}    

.labelPequeno
{
    font-family:Segoe UI;
    font-size:x-small;
    color:Gray;
}    

.inputText
{
    background-color:white;
    border-style:solid;
    border-width:1px;
    color: Gray;
}  

.inputLogin, .inputSenha
{
    border-style:none;
    background-color:White;
    font-family:Segoe UI;
    font-size:small;
}

.button
{
    border-style:solid;
    border-width:1px;
    width: 97px;
    background-color:rgb(145,172,38);
    color:White;
    height: 30px;    
}

.buttonPadding
{
    border-style:solid;
    border-width:1px;
    margin-top:6px;
    margin-right:6px;    
    background-color:rgb(145,172,38);
    color:White;
}

.hyperlink, .hyperlinkPequeno
{
    font-family:Segoe UI;
    font-size:small;
    font-weight:normal;
}

.hyperlink:link{
  color:rgb(96,127,46);
  text-decoration: none;
}

.hyperlink:visited
{
    color:rgb(78,110,11);
}

.hyperlink:hover{
  text-decoration: underline;
}

.hyperlinkPequeno
{
    font-family:Segoe UI;
    font-size:x-small;
}

.hyperlinkPequeno:link{
  color:rgb(96,127,46);
  text-decoration: none;
}

.hyperlinkPequeno:hover{
  text-decoration: underline;
}

.logoBolaoLogin
{
    left: 50px;
    margin-left: 110px;
    margin-top: 30px;
    padding:10px 10px 10px 10px;
    background-color:White;
    border-width:1px;
    border-color:Gray;
    border-style:solid;
}       

#logoFundoCopaEntrada
{
    
    border: 1px solid Gray;
    position:absolute;
    left:366px;
    top:8px;
    padding:15px 6px 15px 6px;
    background-color:White;
    height: 201px;
    width: 128px;
}    
    
#menu
{
    position:absolute;
    top:70px;
    left:50%;
    width:612px;
    height:41px;
    margin-left:-507px;
}    

#centro
{
    position:absolute;
    background-color:White;
    border-style:solid;
    border-color:Gray;
    border-width:1px;    
    top:10px;
    left:50%;
    width:1000px;
    height:900px;
    margin-left:-500px;
}

#logoBolao
{
    position:absolute;
    padding-left:5px;
    padding-top:5px;
    margin-left:8px;
    margin-top:6px;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 247px;
}

#conteudo
{
    position:absolute;
    top:105px;
    left:0;
    width:100%;
    height: 535px;
}    

#logout
{
    float:right;
    margin-top:8px;
    margin-right:8px;
    text-align:right;
}

#imUser
{
    margin-top:25px;
}

#opcoesMenu
{
    position:absolute;
    top:10px;
    left:7px;
    width:600px;
    height:36px;
}    
    
#inputUsuario
{
    position:absolute;
    
    left:8px;
    top:15px;
    width:280px;
    height:47px;
}       


#imgInputUsuario
{
    border-right-color:White;
    left:2px;
}

#inputSenha
{
    
    position:absolute;

    left:8px;
    top:77px;
    width:280px;
    height:47px;  
}    

#botaoEntrar
{
    position:absolute;
    text-align:right;
    top:141px;
    left:5px;
    width: 278px;
    height: 30px;
}                

#cliqueAqui
{
    position:absolute;
    top:212px;
    left:7px;
    width:280px;
    height:22px;
}    

#falhaAutenticacao
{
    position:absolute;
    top:180px;
    left:6px;
    width:280px;
    height:22px;
}

#imgUsuario
{
    position:relative;
    top:0px;
    left:47px;
    width:20px;
}

.itemMenu
{
    padding:5px 5px 5px 5px;
    color:White;
    font-family:Segoe UI;
    font-size:small;
    
}

.itemMenu:link{
  color: white;
  text-decoration: none;
}

.itemMenu:hover{
  text-decoration: underline;
  color:Yellow;
}

#imgCopa2014Principal
{
    float:left;
    top:5px;
    left:5px;
    height:169px;
    width:120px;
}  

#textoPrincipal
{
    float:right;
}     


 h1,h2,h3 {
 color:#8fa819;font-family: "Trebuchet MS",arial, helvetica, sans-serif;font-weight:bold;font-size:15px;padding-left:12px;
 background: url(images/arrow.gif) no-repeat left center;
 text-transform: uppercase;
 }
 

a {
color:#3f71b6;
}


.tabela_resultados
{
	position: relative;
	margin: 25px;	
}

td
{
	padding: 5px;	
}


.mandante
{
  text-align: right;
  width: 70px;
}

.tabela_resultados2
{
 position: relative;
 margin: 25px;
 	
}

.tabela_resultados3
{
 position: relative;
 margin: 25px;
 	
}

.tabela_resultados4
{
 position: relative;
 margin: 25px;
 	
}

.ladoA
{
text-align: left;
width: 53%;
position: absolute;
margin-left: 0px;
border-style: solid;
border: 1px;
border-color: Black;
}

.ladoB
{
text-align: left;
width: 49%;
position: relative;
float: right;
margin-right: 0px;
}

.corpo
{
width: 100%;
margin-left: auto;
margin-right: auto;
position: absolute;
    top: 1px;
    left: 0px;
}

.buttons
{
 position: relative;
 bottom:0;
 	
}


.comandos
{
    height: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.resultados
{
	margin-left: 15px;
}

.ranking, .extrato
{
	margin-left: 8px;
    width: 981px;
    text-align:center;
    margin-top: 0px;
}

.thead_ranking
{
   
   background-color: rgb(240, 240, 240);
}

.tbranking_nome
{
	text-align:left;
}

.tabela_ranking, .tabela_extrato
{
	text-align: center;
}

.trPar
{
	/*background-color: rgb(232, 240, 232);*/
	border-bottom: outset;
	border-width: thin;
	
}

.trImpar
{
	background-color: rgb(237, 252, 211);
	border-bottom: outset;
	border-width: thin;
}

.tabela_ranking td
{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-top: 8px;
}

.tabela_extrato td
{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-top: 8px;
}

.extrato_A
{
	margin: 25px;
	position: absolute;
}

.extrato_B
{
	margin-right: 0px;
	margin-top: 25px;
	position: relative;
}

.extrato_Aposta, .extrato_Resultado
{
	color: Red;
}

.validador
{
    font-family: Segoe UI;
    font-size: x-small;
    color: red;
     
}         

.labelCadastro
{
    font-family: Segoe UI;
    font-size: small;
    font-weight:normal;
    color: gray;
    padding-top:5px;
    padding-bottom:8px;
    height:18px;
}    

.camposCadastro
{
    background-color:white;
    border-style:solid;
    border-width:1px;
    color: Gray;
    margin-top:2px;
    margin-bottom:3px;
}  

 .combosCadastro
{
    background-color:white;
    border-style:solid;
    border-width:1px;
    color: Gray;
    margin-top:2px;
    margin-bottom:3px;
}  
